matrix:
  include:
    - language: dart
      dart: stable
    - language: java
      jdk: openjdk8

before_install:
  - sudo apt-get -y install lib32stdc++6 curl

install:
  - java -version && echo $JAVA_OPTS
  - curl -o android-sdk.zip https://dl.google.com/android/repository/sdk-tools-linux-3859397.zip
  - unzip android-sdk.zip -d ./android-sdk
  - mkdir -p ~/.android/ && touch ~/.android/repositories.cfg
  - ./android-sdk/tools/bin/sdkmanager --sdk_root=./android-sdk "build-tools;28.0.3" "emulator" "platform-tools" "platforms;android-28" "tools"
  - git clone https://github.com/flutter/flutter.git -b dev
  - ./flutter/bin/flutter doctor --android-licenses
  - ./flutter/bin/flutter config --android-sdk ./android-sdk

jobs:
  include:
    - stage: compile_android
      script: ./flutter/bin/flutter build apk
    - stage: compile_web
      script: ./flutter/bin/flutter build web

stages:
  - compile_android
  - compile_web

cache:
  directories:
    - $HOME/.pub-cache
    - .dart_tool/build