language: dart
dart: stable

before_install:
  - sudo apt-get -y install lib32stdc++6 curl

install:
  - git clone https://github.com/flutter/flutter.git -b dev
  - ./flutter/bin/flutter doctor

jobs:
  include:
    - stage: compile_android
      script: ./flutter/bin/flutter build apk
    - stage: compile_web
      script: ./flutter/bin/flutter build web

stages:
  - compile_android
  - compile_web

cache:
  directories:
    - $HOME/.pub-cache
    - .dart_tool/build